p.summary {
    font-size: small;
}

div.summary {
    padding-bottom: 20px;
    font-size: small;
}

.recent-posts {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.recent-posts-heading {
    padding-top: 30px;
}

.post {
  flex-basis: 30%;
  /* Add more styling as needed */
}

img.thumbnail {
    border-radius: 10%;
}
