body {
    font-family: "Helvetica Neue","Open Sans",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 1.7;
}

.navbar-brand {
		font-size: 24px;
}

.nav {
	  font-size: 15px;
}

#banner {
	  padding: 100px 0;
}
