{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <h1 class="title">{{ .Title }}</h1>
  <p>I don't write regularly about what I've read/listened to anymore. Didn't leverage my time well enough for the output.</p>
  <p>These will more likely be rants or one-off "how-tos".</p>
    <ul>
      {{- range .Paginator.Pages -}}
        {{- .Render "li" -}}
            {{ if .Truncated }}
                <div class="summary">
                  <a href="{{ .RelPermalink }}">Read More...</a>
                </div>
            {{- end -}}
      {{- end -}}
    </ul>
    {{ partial "pagination.html" . }}
  </section>
{{ end }}
